---
---
@import url(http://fonts.googleapis.com/css?family=Monda);
/* Utility */
.left {
    float: left;
    margin-right: 15px;
}
.right {
    float: right;
    margin-left: 15px;
}
.clear {
    clear: both;
}
.center {
    text-align: center;
}
.blockCenter {
    margin-right: auto;
    margin-left: auto;
}
.box {
    border: solid black 1px;
}
/* End Utility */
body {
    background: url(/img/low_contrast_linen.png);
    font: 100% Verdana, Arial, Helvetica, sans-serif;
}
a {
    text-decoration: underline;
    color: #666;
    font: 100% Courier;
    &:hover {
        color: black;
    }
}
header {
    padding: 10px;
}
#wrapper {
    background: url(/img/cardboard_flat.png);
    width: 65%;
}
#content {
    background-color: white;
    padding: 25px;
}
footer {
    padding: 1px;
}
#navBar {
    ul {
        list-style: none;
        display: inline;
        padding: 0;
        margin: 0;
    }
    li {
        display: inline-block;
        margin: 10px;
        a {
            color: white;
            background-color: black;
            text-decoration: none;
            padding: 10px 30px;

            &.current {
                background-color: #666;
            }

            &:hover {
                background-color: #666;
            }
        }
    }
}
/* Blog */
code {
    background-color: #EEE;
    padding: 2px 5px;
    margin: 0 auto;
}
.post pre {
    border: 1px solid #ccc;
    font-size: 12.3px;
    line-height: 16px;
    margin: 6px 0px;
    padding: 2px 7px;
    overflow: auto;
    width: 98%;
    background-color: #EEE;
    padding: 0px;
}
.post img {
    max-width: 97%;
    height: auto;
    padding: 5px;
    border: 1px solid #ddd;
}

/* Pages */
/* Home Page */
#intro {
    border: 3px solid;
    max-width: 630px;
    text-align: left;
    margin: auto;
    padding: 10px;
    margin-bottom: 25px;
}
/* End Home Page */

